.thirdSlide {
    width: 1024px;
    height: 768px;
    position: relative;
    display: inline-flex;
    flex-direction: column;
    overflow: hidden;
    background: url(../../../../assets/img/third-block-bg.png);
    scroll-snap-align: center;
}

.thirdSlideTitle {
    font-size: 30px;
    font-family: GothamPro;
    color: #ffffff;
    margin-left: 84px;
    margin-top: 117px;
}

.thirdSlideBox {
    background: url(../../../../assets/img/slide-3-box.png);
    background-repeat: no-repeat;
    width: 909px;
    height: 499px;
    background-size: contain;
    align-self: center;
    margin-top: 12px;
}

.ice {
    position: absolute;
}

.ice_1 {
    top: 109px;
    left: -5px;
    width: 38px;
    height: 39px;
    background: url(../../../../assets/img/slide-3-ice-brick-1.png);
    background-size: cover;
}

.ice_2 {
    top: 212px;
    left: 936px;
    width: 106px;
    height: 101px;
    background: url(../../../../assets/img/slide-3-ice-brick-2.png);

}

.ice_3 {
    top: 588px;
    left: 153px;
    width: 216px;
    height: 205px;
    background: url(../../../../assets/img/slide-3-ice-brick-3.png);
    opacity: 0.53;
}