.input_range {
    position: absolute;
    bottom: 90px;
}


.input_range__slider {
    -webkit-appearance: none;
    background-color:#435063 ;
    width:640px;
    height: 16px;
    outline: none;
    position: fixed;
    left: 200px;
}

.input_range__slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 50px;
    height: 70px;
    background: url(../../assets/img/slider-icon.png) no-repeat;
    background-size: contain;

    user-select: none;
    cursor: pointer;
    transition: value 1s ease-in;
}
.input_range__slider_years {
    margin-top: 50px;
    font-family: GothamPro;
    width: 640px;
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    font-size: 20px;
    position: fixed;
    left: 200px;
}
.input_range__slider_year {
        font-size: 20pt;
    }

.navbar {
    position: absolute;
    top: 352px;
    right: 27px;
    z-index: 10;
    display: flex;
    flex-direction: column;
}

.navbar3 {
    background: rgb(247, 139, 31);
    width: 13px;
    height: 13px;
    border-radius: 50%;
    outline: none;
    border: none;
    padding: 0;
    margin-bottom: 7px;
    transition: 1s;
}

.navbar2, .navbar1 {
    background: white;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    outline: none;
    border: none;
    padding: 0;
    margin-bottom: 7px;
    transition: 1s;
}


