@font-face {
  font-family: GothamPro;
  src: url('./fonts/GothamPro.ttf');
}

@font-face {
  font-family: GothamProLight;
  src: url('./fonts/GothamProLight.ttf')
}

@font-face {
  font-family: LatoM;
  src: url('./fonts/Lato-Medium.ttf');
}

@font-face {
  font-family: LatoS;
  src: url('./fonts/Lato-Semibold.ttf');
}